<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

{% if page.categories && page.categories.first %}
<meta property="og:image" content="{{ site.url }}/images/tags/{{ page.categories.first}}.png">
<link rel="img_src" href="{{ site.url }}/images/tags/{{ page.categories.first }}.png">
{% endif %} 

{% if description %}
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:300 }}">
{% endif %}

<script type='text/javascript'>//<![CDATA[
(function() {
  var script = document.createElement('script');
  script.type  = 'text/javascript';
  script.async = 'async';
  script.src   = 'https://choruswp.nik.io/v1/related_content.js?id=392033&api_key=fd9c6833f5f710740979381b40240de9292abeeddd4e741';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(script, s);
})();//]]>
</script>
